body {
    padding-bottom: 80px;
}

/* Homepage */

header>div>img {
    height: 30vh;
}

/* Bootstrap Class Edits */

.btn {
    padding: 0.2rem;
    font-size: 0.9rem;
}

.img-thumbnail {
    padding: 0;
    border: var(--bs-border-width) solid #F7CB45;
    width: 33vw;
    height: 33vw;
}

.sticky-top {
    top: 8px;
}

/* JavaScript Controls */

.hidden {
    display: none;
}

/* Navbar/Navigation Elements */

i {
    font-size: 25px;
    color: #F7CB45;
}

nav img {
    height: 45px;
    width: 45px;
    border-radius: 20%;
    border: 2px solid #F7CB45;
}

/* Alerts */

.custom-alert {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 45px;
    text-align: center;
    padding: 10px;
}

/* Profile View */

.profile-background {
    position: relative;
    height: 30vh;
    width: 100%;
}

.profile-background h2 {
    color: #F7CB45;
}

.profile-picture {
    height: 75px;
    width: 75px;
    border-radius: 20%;
    border: 2px solid #F7CB45;
}

#profile-stats {
    text-align: center;
    color: #F7CB45;
}

/* Discover View */

#user-search-box::placeholder {
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
    opacity: .75!important;
}

.opacity-90 {
    opacity: .90!important;
}