{% extends "users/profile.html" %} {% block entries %}
<div class="container g-0 text-warning">
    <div class="row">
        <div class="container">
            <div class="row text-center">
                <h2>
                    Your Spotify Playlists
                </h2>
            </div>
            {% for item in spotify_playlists %}
            <div class="row d-flex align-items-center">
                <div class="col-4 g-1">

                    <!-- Collapsable button on playlist image-->
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#{{ item.playlist_id }}"
                        aria-expanded="false" aria-controls="{{ item.playlist_id }}"
                        id="toggle-add-playlist-button{{ item.playlist_id }}">
                        <img src="{{ item.playlist_image }}" class="img-thumbnail"
                            alt="Playlist cover image for {{ item.playlist_name }} - Taken from Spotify">
                    </button>

                </div>
                <div class="col-5">
                    <h4>
                        {{ item.playlist_name }}
                    </h4>
                </div>
                <div class="col-3">

                    <!-- Hidden button to modal window - activated by collapsable button (inline JavaScript) -->
                    <button class="btn btn-outline-warning hidden" type="button" data-bs-toggle="modal"
                        data-bs-target="#addPlaylistModal{{ item.playlist_id }}"
                        id="add-playlist-button{{ item.playlist_id }}">
                        Add Playlist
                    </button>

                </div>
            </div>

            <!-- Collapsable content for track names -->
            <div class="col-12 collapse" id="{{ item.playlist_id }}">
                <br>
                <ol>
                    {% for track in item.track_names %}
                    <li>{{ track }}</li>
                    {% endfor %}
                </ol>
            </div>

            <!-- Modal content for user confirmation -->
            <form method="POST">
                {% csrf_token %}
                <div class="modal fade" id="addPlaylistModal{{ item.playlist_id }}" tabindex="-1"
                    aria-labelledby="Add playlist modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Add playlist to your profile?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4">
                                            <img src="{{ item.playlist_image }}" class="img-thumbnail"
                                                alt="Playlist cover image for {{ item.playlist_name }} - Taken from Spotify">
                                            <!-- Hidden input for playlist image -->
                                            <input type="hidden" name="playlist_image"
                                                value="{{ item.playlist_image }}">
                                        </div>
                                        <div class="col-8">
                                            <h4>
                                                {{ item.playlist_name }}
                                            </h4>
                                            <!-- Hidden input for playlist name -->
                                            <input type="hidden" name="playlist_name" value="{{ item.playlist_name }}">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <ol>
                                                {% for track in item.track_names %}
                                                <li>{{ track }}</li>
                                                <!-- Hidden inputs for track names -->
                                                <input type="hidden" name="track={{ track }}" value="{{ track }}">
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Close/Confirm button -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning">Add Playlist</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <!-- Toggles visibility of "Add Playlist" button -->
            <script>
                var toggleButton = document.getElementById("toggle-add-playlist-button{{ item.playlist_id }}");

                toggleButton.addEventListener("pointerdown", function () {
                    var addPlaylistButton = document.getElementById("add-playlist-button{{ item.playlist_id }}");
                    addPlaylistButton.classList.toggle("hidden");
                });
            </script>
            {% endfor %}

            <!-- Success message when playlist is added -->
            {% if playlist_added %}
            <div class="alert alert-success custom-alert" role="alert">
                Your playlist was added successfully!
            </div>
            {% endif %}

            <!-- Prompt user to add Spotify username in settings, if none existent -->
            {% if missing_username %}
            <div class="row text-center">
                <div class="col">
                    <p>...Cannot be found</p>
                    <p>Please add your Spotify username in your profile's <a class="text-success"
                            href="{% url 'user_settings' username=request.user.username %}">settings</a> tab</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock entries %}