{% extends "users/club_details.html" %} {% block form %}
<div class="container g-0 mt-2 text-warning">
    <div class="row d-flex align-items-center">
        <div class="col-12 p-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="invite">
            </form>
        </div>
        <div class="col-12 p-3 mb-5">
            <h4>Pending Invites</h4>
            <ol>
                {% for invited in invited_members %}
                <li>
                    {{ invited.user }}
                    <form method="post"
                        action="{% url 'delete-invite' username=invited.user club_slug=invited.club.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ invited.user }}">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-outline-warning"><span class="fa-solid fa-ban"
                                style="color: #ff0000;"></span></button>
                    </form>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock form %}