{% extends "base.html" %} {% block content %}
<div class="container text-warning">
    <div class="row g-2">
        <div class="dropdown fixed-top">
            <input type="text" id="user-search-box" class="form-control dropdown-toggle"
                placeholder="Discover new users" data-bs-toggle="dropdown" role="searchbox">
            <ul class="dropdown-menu opacity-75 bg-dark" id="live-search-items">
                <!-- JavaScript <li> injected here -->
                <li></li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        {% for playlist in playlist_list %}
        <div class="col-4 g-1 text-warning">
            <a href="{% url 'playlist_details' username=playlist.user.username playlist_id=playlist.id %}">
                <img src="{{ playlist.playlist_image.url }}" class="img-thumbnail"
                    alt="Playlist cover image for {{ playlist.playlist_name }} - Taken from Spotify">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- CREDIT: Initial code for live search feature - https://www.youtube.com/watch?v=jqSl36xR9Ys&t=169s -->
<script>
    const usersArray = "{{ users_list }}";
    const cleanedData = JSON.parse(usersArray.replace(/&#x27;/g, '"'));

    const inputBox = document.getElementById("user-search-box");
    const searchResults = document.getElementById("live-search-items");

    let filteredArray = [];

    inputBox.addEventListener("keyup", (e) => {
        // Resets innerHTML - no result duplication
        searchResults.innerHTML = "";

        // Stops "whitespace" showing all results in array + not case-sensitive
        const userInput = e.target.value.trim().toLowerCase();

        if (userInput) {
            filteredArray = cleanedData.filter(user => user.toLowerCase().includes(userInput));
            if (filteredArray.length > 0) {
                filteredArray.map(user => {
                    // JS template literals don't work in Django URLs - this is a crude attempt, but works
                    searchResults.innerHTML += `<li><a href="/profile/${user}/playlists" class="dropdown-item opacity-100 text-warning">${user}</a></li><br>`
                });
            } else {
                searchResults.innerHTML = "<li class='dropdown-item opacity-100 text-warning'>No results found...</li>"
            };
        };
    });
</script>
{% endblock content %}