{% extends "users/profile.html" %} {% block entries %}
<div class="container g-0">
    <div class="row">
        {% for playlist in viewed_playlists %}
        <div class="col-4 g-1 text-warning">
            <a
                href="{% url 'playlist_details' username=request.resolver_match.kwargs.username playlist_id=playlist.id %}">
                <img src="{{ playlist.playlist_image.url }}" class="playlist-image"
                    alt="Playlist cover image for {{ playlist.playlist_name }} - Taken from Spotify">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock entries %}