{% extends "users/profile.html" %} {% block entries %}
<div class="container">
    <div class="row">
        {% for playlist in playlists %}
        <div class="col-4 box">
            {{ playlist.playlist_title }}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <h2>Make Playlist</h2>
        <form class="d-inline" method="POST">
            {% csrf_token %}
            {{ playlist_form }}
            <button type="submit">Save Playlist</button>
        </form>
    </div>
</div>
{% endblock entries %}