{% extends "base.html" %} {% block content %}
<div class="container g-0 text-warning">
    <div class="row">
        <div class="row">
            <div class="col mt-2 text-center">
                {% if request.user.username in request.path %}
                <h2>
                    Your Playlists
                </h2>
                {% else %}
                <h2>
                    {{ viewed_profile.user }}'s Playlists
                </h2>
                {% endif %}
            </div>
        </div>
        {% for playlist in viewed_playlists %}
        <div class="col-4 g-1">
            <a
                href="{% url 'playlist_details' username=request.resolver_match.kwargs.username playlist_id=playlist.id %}">
                <img src="{{ playlist.playlist_image.url }}" class="img-thumbnail"
                    alt="Playlist cover image for {{ playlist.playlist_name }} - Taken from Spotify">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}