{% extends "base.html" %} {% block content %}
<!-- Inline style due to Jinja URL use
CREDIT: for background image opacity - https://coder-coder.com/background-image-opacity/ -->
<style>
    .profile-background::before {
        content: "";
        background-image: url('{{ viewed_profile.background_image.url }}');
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        z-index: -1;
    }
</style>
<div class="container profile-background">
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex justify-content-start mt-4">
                <a href="javascript:history.back()">
                    <i class="fa-solid fa-backward-step"></i>
                </a>
            </div>
            <div class="col-6 d-flex justify-content-center bg-gradient mt-4">
                <h2>{{ user_profile.user }}</h2>
            </div>
            <div class="col-3 d-flex justify-content-end mt-4">
                <a href="{% url 'user_settings' username=my_username %}">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <div class="row bg-gradient">
                    <div class="col-3">
                        {% if viewed_profile.profile_image %}
                        <img src="{{ viewed_profile.profile_image.url }}" alt="User's Profile Image"
                            class="profile-picture">
                        {% else %}
                        <img src="https://res.cloudinary.com/dxgzepuov/image/upload/v1694805348/we-rate-music/placeholder-user_swscgw.png"
                            alt="Default User Profile Image" class="profile-picture">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <div class="container" id="profile-stats">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-6"><strong>100</strong></div>
                                        <div class="col-6"><strong>250</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Playlists</div>
                                        <div class="col-6">Ratings</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-warning">Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% block entries %}
    <!-- Below profile - entries to playlists/groups etc -->
    {% endblock entries %} {% endblock content %}