{% extends "base.html" %} {% block content %}
<div class="container" id="profile">
    <div class="row align-items-end">
        <div class="col-2">
            <div class="row">
                <div class="col">
                    <a href="{% url 'user_playlists' username=request.resolver_match.kwargs.username %}"><i
                            class="fa-solid fa-compact-disc"></i></a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <img src="/static/images/placeholder-user.png" alt="placeholder user image">
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col">
                    <a href="{% url 'user_clubs' username=request.resolver_match.kwargs.username %}"><i
                            class="fa-sharp fa-solid fa-people-group"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% block entries %}
<!-- Below profile - entries to playlists/groups etc -->
{% endblock entries %} {% endblock content %}