{% extends "users/profile.html" %} {% block entries %}
<div class="container g-0 text-warning">
    <div class="row">
        <div class="col">
            <h2>Settings</h2>
            <form class="d-inline" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock entries %}

<!-- Include whether user is authenticated or not -->